*, *:before, *:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}

/* Navigation Bar */

header {
  position: sticky;
  top: 0;
  width: 100%;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 2.25em;
  padding: 25px;
  background: #0a3641;
  color: #f1f1e6;
  z-index: 9999;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked~nav {
  display: block;
}

nav {
  position: absolute;
  background: #0a3641;
  left: 0px;
  z-index: 9999;
}

.hamburger-icon {
  display: block;
  right: 25px;
  top: 25px;
}

.hamburger-icon:hover {
  color: #f89235;
}

#shopping-cart {
  position: absolute;
  right: 25px;
  top: 25px;
  color: #f1f1e6;
}

.nav-logo {
  display: none;
}

nav a {
  display: block;
  padding: 50px 50px;
}

#shopping-cart:hover {
  color: #f89235;
}

a:link {
  text-decoration: none;
  color: #f1f1e6;
}

a:visited {
  color: #f1f1e6;
}

a:hover {
  color: #f89235;
}

/* Footer */

footer {
  width: 100%;
  margin-bottom: -20px;
  background: #0a3641;
  color: #f1f1e6;
}

#facebook:hover,
#instagram:hover,
#youtube:hover {
  color: #f89235;
}

ul.footer-icons {
  margin-top: 0;
  list-style-type: none;
  text-align: center;
  padding-inline-start: 0px;
}

li {
  font-size: 2.25em;
  padding: 25px 3%;
  display: inline-block;
}

/* DESKTOP VIEW */

@media (min-width: 1024px) {

  /* Navigation Bar */

  nav {
    display: block;
    position: static;
    text-align: center;
  }

  .hamburger-icon {
    display: none;
  }

  .nav-logo {
    width: 160px;
    display: block;
    position: absolute;
    left: 50px;
    top: 40px;
  }

  .nav-logo:hover {
    content: url(../assets/images/logo/RainyDays_Logo-alt-small.png);
  }

  .home {
    display: none;
  }

  nav a {
    display: inline-block;
    padding: 20px 3%;
  }

  header {
    width: 100%;
    font-size: 3.125em;
  }

  #shopping-cart {
    padding: 20px;
  }

  /* Footer */

  footer {
    width: 100%;
    background: #0a3641;
    color: #f1f1e6;
  }

  ul.footer-icons {
    background: #0a3641;
    color: #f1f1e6;
  }

  li {
    font-size: 3.125em;
    padding: 25px 5%;
  }
}

@media (min-width: 1500px) {

  nav a {
    display: inline-block;
    padding: 20px 8%;
  }

}