/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

body {
  background: #F1F1E6;
}

/* Hero Section */

.hero-section {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.hero-image { 
  position: absolute;
  top:4%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
}

.hero-section:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(193, 250, 255, 0.3);
  z-index:99;
}

.hero-logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 360px;
  height: auto;
  top: 25px;
  z-index:999;
}

/* Hook Section */

.hook-section {
  max-width: 600px;
  display: grid;
  grid-template-columns: 100%;
  margin: auto auto;
  grid-template-areas:
  "image"
  "text"
  "cta"
  ;
}

.hook-image-container{grid-area: image;}
.hook-text{grid-area: text;}
.hook-cta{grid-area: cta;}

.hook-image-container {
  width: 90%;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 1em auto;
  border-radius: 15px;
}

.hook-image { 
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4);
}

.hook-text {
  max-width: 500px;
  display: block;
  text-align: center;
  padding: 1em 1em;
  margin: auto auto;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 2.25em;
  line-height: 50px;
  font-weight: 400;
  color:#0A3641;
  text-align: center;
}

.hook-cta {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 2.25em;
  background-color:#F89235;
  color:#F1F1E6;
  border-radius: 15px;
  display: block;
  text-align: center;
  padding: 0.5em;
  width: 100%;
  max-width: 300px;
  margin: auto auto;
}

.hook-cta:hover {
  background-color:#F1F1E6;
  color:#F89235;
  outline: 5px solid #F89235;
  outline-offset: -5px;
}

/* Vision Section */

.vision-section {
  color: #0A3641;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 28px;
  display: block;
  text-align: left;
  padding: 1em;
  width: 100%;
  max-width: 600px;
  margin: auto auto;
}

/* Splash Banner */

.splash-banner-container {
  width: 90%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 1em auto;
  border-radius: 50px;
}

.splash-image { 
  position: relative;
  object-fit: cover;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4);
}

.splash-banner-container:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(10, 54, 65, 0.6);
  z-index:99;
}

/* Navigation Bar */

header {
  width: 100%;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 2.25em;
  padding: 25px;
  background: #0A3641;
  color:#F1F1E6;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

nav {
  position: absolute;
  background: #0A3641;
  left: 0px;
  z-index:9999;
}

.hamburger-icon {
  display: block;
  right: 25px;
  top: 25px;
}

.hamburger-icon:hover {
  color:#F89235;
}

#shopping-cart {
  position: absolute;
  right: 25px;
  top: 25px;
  color:#F1F1E6;
}

.nav-logo {
  display: none;
}

nav a {
  display: block;
  padding: 50px 50px;
}

#shopping-cart:hover {
  color:#F89235;
}

a:link {
  text-decoration: none;
  color:#F1F1E6;
}

a:visited {
  color:#F1F1E6;
}

a:hover {
  color: #F89235;
}

/* Footer */

footer {
  width: 100%;
  margin-bottom: -20px;
  background: #0A3641;
  color: #F1F1E6;
}

#facebook:hover,
#instagram:hover,
#youtube:hover {
  color:#F89235;
}

ul.footer-icons {
  list-style-type: none;
  text-align: center;
}

li {
  font-size: 2.25em;
  padding: 25px 25px;
  display: inline-block;
}

/* DESKTOP VIEW */

@media (min-width: 600px) {
  
/* Hero Section */

  .hero-section {
    width: 100%;
    height: 500px;
  }

  .hero-image { 
    transform: translate(-50%, -50%) scale(1.4);
  }

  .hero-logo {
    max-width: 720px;
    top: 50px;
  }

  /* Hook Section */

  .hook-section {
    max-width: 1556px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "image text"
    "image cta"
    ;
  }
  
  .hook-image-container {
    margin: 2em auto;
    height: 600px;
    border-radius: 30px;
  }

  .hook-image { 
    transform: translate(-50%, -50%) scale(0.5);
  }

  .hook-text {
    font-size: 3.125em;
    max-width: 750px;
    line-height: 100px;
  }

  .hook-cta {
    font-size: 3.125em;
    border-radius: 30px;
    max-width: 450px;
  }
  
  .hook-cta:hover {
    outline: 10px solid #F89235;
    outline-offset: -10px;
  }

/* Vision Section */

.vision-section {
  font-size: 2em;
  line-height: 56px;
  max-width: 1556px;
  padding: 0em;
}

/* Splash Banner */

.splash-banner-container {
  max-width: 1556px;
  height: 425px;
}

.splash-image { 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -33%) scale(1.1);
}

.splash-banner-container:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(10, 54, 65, 0.6);
  z-index:99;
}

/* Navigation Bar */

  nav {
    display: block;
    position: static;
    text-align: center;
  }

  .hamburger-icon {
    display: none;
  }

  .nav-logo {
    width: 160px;
    display: block;
    position: absolute;
    left: 50px;
    top: 40px;
  }

  .nav-logo:hover {
    content:url(/assets/images/logo/RainyDays_Logo-alt-small.png)
  }

  .home {
    display: none;
  }

  nav a {
    display: inline-block;
    padding: 20px 150px;
  }

  header {
    width: 100%;
    font-size: 3.125em;
  }

  #shopping-cart {
    padding: 20px;
  }

/* Footer */

footer {
  width: 100%;
  margin-bottom: -20px;
  background: #0A3641;
  color: #F1F1E6;
}

  ul.footer-icons {
    background: #0A3641;
    color: #F1F1E6;
  }
  
  li {
    font-size: 3.125em;
    padding: 25px 50px;
  }
}